%p#notice= notice
%p
  %strong Name:
  = @attraction.name
%p
  %strong Title:
  = @attraction.title
%p
  %strong Location:
  = @attraction.location
= link_to 'Edit', edit_attraction_path(@attraction)
|
= link_to 'Back', attractions_path
